﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding-bottom: 100px">
    <h1 class="display-4">Welcome to LaZuitt</h1>
    <br />
</div>

<div class="text-center">
    <button style="float: center; background-color: #e1f5fe; border-radius: 10px">
        <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">
            Manage Courses
        </a>
    </button>
</div>